
@{
    ViewBag.Title = "MVC05 Model Validation";
}

<h2>MVC05 Model Validation</h2>


<p>Model Validation MVC de model classlarının boş geçilemez, karakter uzunluk sınırı 
    vb gibi doğrulama işlemlerini yapmamızı sağlayan yapıdır.
</p>













